{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content">
    <input type="radio" name="apply" id='file' value="파일첨부" onclick="div_show1(this.value, 'divshow1', 'divshow2');">
    <label for="file">파일첨부</label>
    &nbsp;&nbsp;&nbsp;
    <input type="radio" name="apply" id='link' value="링크입력" onclick="div_show1(this.value, 'divshow1', 'divshow2');">
    <label for="link">링크입력</label>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div id="divshow1" style="display: none;">
            <br>
            선택 가능한 파일 형식 : .pdf / .docs / .hwp / .txt<br>
            <input type="file" name="file">
            <input type="submit" value="결과보기" class="btn btn-default" style="float:right"/>
        </div>
        <div id="divshow2" style="display: none;">
            <br>
            url 입력하기 :
            <input type="url" name="url" placeholder="ex) https://www.naver.com/" style="width:60%;"/>
            <input type="submit" value="결과보기" class="btn btn-default" style="float:right"/>
        </div>
    </form>

</div>
{% endblock %}